<div class="tab-pane fade show active mt-3" id="show-item" role="tabpanel" aria-labelledby="item-tab">
    <div class="table-responsive">
        <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
              
            </tbody>
        </table>
    </div>
</div>
